[submodule "services/battle-service"]
	path = services/battle-service
	url = https://github.com/Ekkusuu/battle-service.git
[submodule "services/tamagotchi-service"]
	path = services/tamagotchi-service
	url = https://github.com/Ekkusuu/tamagotchi-service.git
[submodule "services/user-management-service"]
	path = services/user-management-service
	url = https://github.com/MadalinaDev/user-management-service.git
[submodule "services/map-service"]
	path = services/map-service
	url = https://github.com/MadalinaDev/map-service.git
[submodule "services/guild-service"]
	path = services/guild-service
	url = https://github.com/vikanicologlo/guild-service.git
[submodule "services/notification-service"]
	path = services/notification-service
	url = https://github.com/vikanicologlo/notification-service.git
[submodule "services/package-registry-service"]
	path = services/package-registry-service
	url = https://github.com/sabinapopescu/package-registry-service.git
[submodule "services/monster-raid-service"]
	path = services/monster-raid-service
	url = https://github.com/sabinapopescu/monster-raid-service.git
[submodule "services/gateway-service"]
	path = services/gateway-service
	url = https://github.com/MadalinaDev/gateway-service.git
